#
# Configuration file for MDS Browser
#

data_format		tsv
load_recordings		yes
load_hierarchies	yes

artist_file			data/gracenote_na_radio_artist_20151104.tsv
artist_descriptor_file		data/gracenote_na_radio_artist_descriptor_20151104.tsv
artist_popularity_file		data/gracenote_na_radio_artist_popularity_prod.tsv
#artist_popularity_file		data/pop/mids_lookups_356_0_uk.tsv

descriptor_file			data/gracenote_na_radio_descriptor_20151104.tsv
descriptor_correlate_file	data/gracenote_na_radio_descriptor_correlate_20151104.tsv

recording_file			data/gracenote_na_radio_track_20151104.tsv
recording_descriptor_file	data/gracenote_na_radio_track_descriptor_20151104.tsv
recording_popularity_file	data/gracenote_na_radio_track_popularity_prod_20151104.tsv

hierarchy_type_file		data/gracenote_hierarchy_type_20151104.tsv
hierarchy_node_file		data/gracenote_hierarchy_node_20151104.tsv
hierarchy_node_language_file	data/gracenote_hierarchy_node_language_20151104.tsv
descriptor_to_hierarchy_node_file data/gracenote_descriptor_to_hierarchy_node_20151104.tsv

language_file			data/gracenote_language_20151104.tsv

