#
# Configuration file for MDS Browser
#

data_format		gmd
load_recordings		yes

# only use one recording per song group, if yes will load song ids
one_recording_per_song	yes

# hierarchies not supported from gmd at this time
load_hierarchies	no

#artist_file			data/GMD/20170527/gracenote_artist_20170527.json
artist_file			sample/sample_gn_artist.json

#album_master	data/GMD/20170527/gracenote_album_master_20170527.json
album_master	sample/sample_gn_album_master.json
#album_edition	data/GMD/20170527/gracenote_album_edition_20170527.json
album_edition	sample/sample_gn_album_edition.json

#descriptor_file			data/GMD/20170527/gracenote_descriptor_20170527.json
descriptor_file			sample/gracenote_descriptor_20180630.json
#descriptor_correlate_file	data/GMD/20170527/gracenote_correlate_20170527.json
descriptor_correlate_file	sample/gracenote_descriptor_correlates_20180630.json

#recording_file			data/GMD/20170527/gracenote_recording_20170527.json
recording_file			sample/sample_gn_recording.json

